<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="robots" content="index,nofollow">
	<title><MM-List-Name> Subscribers</title>
</head>

<body>
	<table width="100%" cols="1" border="0" cellspacing="4" cellpadding="5">
		<tr>
			<td colspan="2" width="100%" bgcolor="#99CCFF" align="center"><b><font size="+1"><MM-List-Name> Subscribers</font></b></td>
		</tr>
		<tr>
			<td colspan="2" width="100%" align="center">
				<p align="right"><MM-lang-form-start><MM-displang-box><MM-list-langs><MM-form-end></p>
				<p>Click on your address to visit your subscription options page.<br>
				<i>(Parenthesized entries have list delivery disabled.)</i></p>
			</td>
		</tr>
		<tr width="100%" valign="top">
			<td bgcolor="#FFF0D0" width="50%">
				<center><b><font color="#000000"><MM-Num-Reg-Users> Non-digested Members of <MM-List-Name>:</font></b></center>
			</td>
			<td bgcolor="#FFF0D0" width="50%">
				<center><b><font color="#000000"><MM-Num-Digesters> Digested Members of <MM-List-Name>:</font></b></center>
			</td>
		</tr>
		<tr valign="top">
			<td>
				<p><MM-Regular-Users></p>
			</td>
			<td>
				<p><MM-Digest-Users></p>
			</td>
		</tr>
	</table>
	<MM-Mailman-Footer>
</body>
</html>
